<div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c{{position}}">
        <div class="overview__inner">
            <div class="overview-box clearfix">
                <div class="icon">
                    <i class="zmdi zmdi-account-o"></i>
                </div>
                <div class="text">
                    <h2>{{total}}</h2>
                    <span>{{label}}</span>
                </div>
            </div>
            <div class="overview-chart">
                <canvas id="widgetChart1"></canvas>
            </div>
        </div>
    </div>
</div>