<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="{{domain}}">
                    <img src="{{logo}}" alt="" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a class="js-arrow" href="{{domain}}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>