<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a class="logo" href="{{domain}}">
            <img src="{{logo}}" alt="" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="{{domain}}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                        <li>
                            <a href="{{domain}}/#">Subitem</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>